body{
    font-family: 'Poppins', sans-serif;
}
.dis-flex{
    display: flex;
    padding-top: 30px;
}
.step-one{
    padding-left: 60px;
    padding-right: 20px;
}
.font-size{
    font-size: 25px;
    border-left: 5px solid;
    border-color: sandybrown;
}
.h2-color{
    color: coral;
}
.para-size{
    font-size: 20px;
    padding-right: 60px;
    text-align: initial;
}
.button-desi{
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 10px;
}
.pic-anwar-change{
    height: 400px;
    padding-right: 30px;
}
.pic-size{
    padding-left: 50px;
}
.secnd-padding-top{
    padding-top: 50px;
}
.second-design{
    font-size: 40px;
    text-align: center;
}
.year-desi{
    color: darkorange;
}
.second-section{
    display: flex;
    padding-right: 40px; 
}
.first-img-size{
    height: 300px;
}
.first-box{
    width: 70%;
    margin-left: 5%;
    padding-left: 5px;
    border-radius: 10px;
    text-align: initial;
    box-shadow: 10px 10px 40px gray;
    background-color: pink;
}
.second-box{
    width: 70%;
    margin-left: 5%;
    padding-left: 5px;
    border-radius: 10px;
    text-align: initial;
    box-shadow: 10px 10px 40px gray;
    background-color: palegoldenrod;
}
.third-box{
    width: 70%;
    margin-left: 5%;
    padding-left: 5px;
    border-radius: 10px;
    text-align: initial;
    box-shadow: 10px 10px 40px gray;
    background-color: peachpuff;
}
.third-sec-top-padding{
    padding-top: 50px;
}
.dis-flexto{
    display: flex;
    padding-top: 100px;
}
.image-size{
    padding-left: 120px;
}
.change-img{
    height: 300px;
}
.right-side{
    padding-left: 150px;
    padding-right: 300px;
    text-align: initial;
    font-size: 20px;
}
.second-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 10px;
}
#top-banner{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.fourth-section{
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 100px;
}
.third-change-img{
    height: 300px;
}
.fifth-change{
    padding-right: 80px;
    font-size: 25px;
    padding-right: 150px;
    text-align: initial;
}
.last-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 10px;
}
#top-banner-two{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 150px;
}
